

.film_item {
    border-radius: 20px;
    height: calc(600px * 0.9);
    width: calc(350px * 0.9);
    border: 3px solid #9b60e5;
    background-color: rgba(155, 96, 229, 0.1);
    margin: 0 15px 30px;
    padding: 9px;
    text-align: left;
}
.film_item-preview{
    height: calc(464px * 0.9);
    width: calc(325px * 0.9);
    background-color: #5c5c5c;
    border-radius: 10px;
    background-size: cover;
}
.film-title {
    font-size: 22px;
    color: #fefefe;
    margin-top: 19px;
    margin-left: 5px;
}
.film_item-description{
    margin-left: 5px;
    margin-top: 14px;
    display: flex;
    justify-content:first baseline;
}
.film_item-description p {
    margin-right: 14px;
    color: rgb(211, 211, 211);
    font-size: 13px;
}
.film_item-description h2 {
    color: rgb(224, 224, 224);
    font-size: 14px;
    margin-right: 14px;
}

.film_item:hover {
    -webkit-box-shadow: 0px 0px 38px -3px rgba(155, 96, 229, 0.2);
    -moz-box-shadow: 0px 0px 38px -3px rgba(155, 96, 229, 0.2);
    box-shadow: 0px 0px 38px -3px rgba(155, 96, 229, 0.2);
    background-color: rgba(155, 96, 229, 0.2);
    transition-duration: 0.1s;
    border-color: #fefefe;
}
@media screen and (max-width: 1500px) {
    .film_item {
        border-radius: 10px;
        height: calc(584px * 0.6);
        width: calc(350px * 0.6);
        border: 2px solid #9b60e5;
        background-color: rgba(155, 96, 229, 0.1);
        margin: 0 15px 30px;
        padding: 5px;
    }
    .film_item-preview{
        height: calc(464px * 0.6);
        width: calc(325px * 0.6);
        border-radius: 5px;
    }
    .film-title {
        font-size: 16px;
        color: #fefefe;
        margin-top: 12px;
        margin-left: 3px;
    }
    .film_item-description{
        margin-left: 3px;
        margin-top: 9px;
        display: flex;
        justify-content:first baseline;
    }
    .film_item-description p {
        margin-right: 9px;
        color: rgb(211, 211, 211);
        font-size: 10px;
    }
    .film_item-description h2 {
        color: rgb(224, 224, 224);
        font-size: 11px;
        margin-right: 9px;
    }
}
@media screen and (max-width: 500px) {
    .film_item {
        border-radius: 8px;
        height: calc(584px * 0.315);
        width: calc(350px * 0.3);
        border:1px solid #9b60e5;
        background-color: rgba(155, 96, 229, 0.1);
        margin: 0 8px 16px;
        padding: 2px;
    }
    .film_item-preview{
        height: calc(464px * 0.3);
        width: calc(325px * 0.3);
        border-radius: 5px;
    }
    .film-title {
        font-size: 9px;
        color: #fefefe;
        margin-top: 5px;
        margin-left: 3px;
    }
    .film_item-description{
        margin-left: 3px;
        margin-top: 4px;
        display: flex;
        justify-content:first baseline;
    }
    .film_item-description p {
        margin-right: 5px;
        color: rgb(211, 211, 211);
        font-size: 6px;
    }
    .film_item-description h2 {
        color: rgb(224, 224, 224);
        font-size: 7px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 370px) {
    .film_item {
        border-radius: 6px;
        height: calc(584px * 0.270);
        width: calc(350px * 0.275);
        border:1px solid #9b60e5;
        background-color: rgba(155, 96, 229, 0.1);
        margin: 0 4px 8px;
        padding: 2px;
    }
    .film_item-preview{
        height: calc(464px * 0.27);
        width: calc(325px * 0.27);
        border-radius: 5px;
    }
    .film-title {
        font-size: 7px;
        color: #fefefe;
        margin-top: 5px;
        margin-left: 3px;
    }
    .film_item-description{
        margin-left: 3px;
        margin-top: 4px;
        display: flex;
        justify-content:first baseline;
    }
    .film_item-description p {
        margin-right: 5px;
        color: rgb(211, 211, 211);
        font-size: 5px;
    }
    .film_item-description h2 {
        color: rgb(224, 224, 224);
        font-size: 6px;
        margin-right: 5px;
    }
}