
.findfilm{
    margin-top: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.findfilm .btn{
    height: 60px;
    width: 234px;
    margin-left: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.findfilm input {
    padding-left: 15px;
    height: 60px;
    font-size: 20px;
    width: 300px;
    color: #fefefe;
    background-color: #131313;
    border-bottom: 3px solid #9B60E5;;
}

@media screen and (max-width: 520px) {
    .findfilm{
        margin-top: 120px;
        height: 50px;
        
    }
    .findfilm .btn{
        height: 30px;
        width: 100px;
        margin-left: 10px;
        font-size: 9px;
        border: 1px solid #9B60E5;
        border-radius: 5px;
    }
    
    .findfilm input {
        padding-left: 15px;
        height: 30px;
        font-size: 12px;
        width: 200px;
        color: #fefefe;
        background-color: #131313;
        border-bottom: 1px solid #9B60E5;
    }
}