.header {
    height: 120px;
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    color: #fefefe;
    background-color: #131313;
    position: fixed;
    top: 0px;

    z-index: 999;
}
.btn .disabled {
    border: 2px solid #211f24;
}
.header_logo a{
    color: #fefefe;
    font-weight: 600;
}
.header ul{
    display: flex;
    align-items: baseline;
    font-size: 20px;
}
.header li:first-child{
    margin: 0 50px 0 0;
}
.header li:last-child{
    margin: 0;
}
.header .link{
    display: inline-block;
    height: 55px;
    display: flex;
    align-items: center;
}
.link:hover{
    margin-top: 3px;
}
@media screen and (max-width: 1500px) {
    .header .btn{
        font-size: 15px;
    }
    .btn .disabled {
        border: 2px solid #211f24;
    }
    .header {
        height: 80px;
    }
    .header_logo p{
        font-weight: 600;
        font-size: 20px
    }
}
@media screen and (max-width: 905px) {
    .header {padding: 0 80px;}
    .btn .disabled {
        border: 2px solid #211f24;
    }
}
@media  screen and (max-width: 700px) {
    .header {padding: 0 44px;}
    .header .link{
        font-size: 0;
    }
    .header .btn{
        font-size: 20px;
    }
    .btn .disabled {
        border: 2px solid #211f24;
    }
}
@media screen and (max-width: 450px) {
    .header .btn{
        margin-top: 10px;
        font-size: 10px;

    }
    .btn .disabled {
        border: 2px solid #211f24;
    }
    .header {
        height: 70px;
    }
    .header_logo{
        font-weight: 600;
        font-size: 30px
    }
@media screen and (max-width: 370px) {
    .header .btn{
        border-width: 2px;
        margin-top: 10px;
        font-size: 7px;

    }
    .btn .disabled {
        border: 1px solid #211f24;
    }
}
}