.main_page_content{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.title{
    
    display: flex;
    align-items: baseline;
    margin: 0 5px 0 0;
    font-size: 100px;
}
.title_p{
    margin-left: 25px;
    color: #9B60E5;
    text-shadow:  3px 0 50px rgba(155, 96, 229,0.4);
}
.page_text{
    
    color: #fefefe;
}
.page_btns{
    margin-top: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page_btns .btn{
    font-size: 30px;
    margin-bottom: 20px;
}
.main_page_img {
    height: 464px;
    width: 325px;
    margin: 20px 10px 0;
    border-radius: 20px;
}

@media screen and (max-width: 2450px) {
    .title{

        font-size: 80px;
    }

    .main_page_img {
        height: auto;
        width: 30%;
        margin: 18px 10px 0;
        border-radius: 20px;
    }
    .page_btns .btn{
        font-size: 25px;
        margin-bottom: 18px;
    }
    .page_btns{
        margin-top: 100px;
    }
}
@media screen and (max-width: 1920px) {
    .title{
        font-size: 70px;
    }
    .page_btns .btn{
        font-size: 22px;
        margin-bottom: 14px;
    }
    .page_btns{
        margin-top: 80px;
    }
}
@media screen and (max-width: 905px) {
    .main_page_content{
        padding: 0 80px;
    }
    .title{
        font-size: 50px;
    }
    .page_btns{
        margin-top: 60px;
    }
}
@media  screen and (max-width: 700px){
    .main_page_content{
        padding: 0 50px;
    }

    .page_btns .btn{
        font-size: 20px;
        margin: 15px 0 0;
    }
}
@media screen and (max-width: 550px) {
    .title{
        font-size: 40px;
    }
    .main_page_content{
        padding: 0 50px;
    }
    .page_btns .btn{
        font-size: 16px;
    }
    .page_btns{
        margin-top: 70px;
        height: auto;
    }
    .page_btns .btn{
        width: 100%;
        font-size: 20px;
        margin: 15px 0 0;
    }
}
@media screen and (max-width: 550px) {
    .title{
        font-size: 32px;
    }
    .title_p{
        margin-left: 16px;
        color: #9B60E5;
        text-shadow:  3px 0 50px rgba(155, 96, 229,0.4);
    }
}
@media screen and (max-width: 430px) {
    .title{
        font-size: 28px;
    }
    .page_btns .btn{
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        margin: 15px 0 0;
        border: 2px solid #9B60E5;
    }
}
@media screen and (max-width: 350px) {
    .title{
        font-size: 24px;
    }
    .page_btns .btn{
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        margin: 15px 0 0;
    }
}
