.films_item {
    text-align: center;
    width: 100%;
    padding: 0 50px;
}

.page_films_items {
    text-align: center;
    max-width: 2100px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.films_item .our{
    font-size: 30px;
    color: #fefefe;
    margin-top: 100px;
}
@media screen and (max-width: 500px) {
    .films_item {
        text-align: center;
        width: 100%;
        padding: 0 0px;
    }
    .films_item .our{
        font-size: 18px;
        color: #fefefe;
        margin-top: 60px;
    }
}
